*{
    margin: 0px;
    padding: 0px;
}
.menu-container{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: rgba(22, 22, 22, 0.794);
    list-style: none;
    padding: 20px;
}
.logo-photo{
    width: 120px;
    
}
.menubar{
    color: white;
    display: flex;
}
.item{
    margin-right: 20px;
    padding-right: 10px;
    font-size: 20px;
    font-weight: 500;
    cursor: pointer;
}
.item a{
    text-decoration: none;
    color: white;
}
.item a:hover{
    color: yellow;
    text-decoration: underline;
}
.banner-img{
    width: 340px;
    height: 320px;
}
.banner-container{
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 100vh;
    background-image: url(./images/background.png),linear-gradient(45deg, rgb(8,8,8), rgb(53,53,53));
    color: white;
}
.title{
    font-size: 52px;
    font-weight: bolder;
    margin-bottom: 20px;
}
.text{
    font-size: 18px;
    font-weight: 400;
    margin-bottom: 20px;
}
.btn{
    padding: 15px 25px;
    background-color: brown;
    color: white;
    border: none;
    font-size: 18px;
}
.about-title{
    text-align: center;
    padding: 25px;
}
.about-container{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: row-reverse;
    padding: 15px;
    margin-bottom: 30px;
}
.a-heading{
    font-size: 32px;
    font-weight: bold;
    margin-bottom: 15px;
}
.a-text{
    font-size: 22px;
    line-height: 30px;
}
.a-btn{
    margin-top: 15px;
}
.service-container{
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: white;
    padding: 15px;
}
.box{
    padding: 15px;
    /* margin: 10px; */
    text-align: center;
    width: 300px;
    height: 400px;
    background-color: rgb(27, 26, 26);
    box-shadow: 4px 4px 20px gray;
    border-radius: 10px;
    margin-bottom: 50px;
}
.icon{
    margin-top: 20px;
    height: 70px;
    width: 70px;
}
.s-heading{
    padding: 15px;
    margin-top: 20px;
}
.s-text{
    font-size: 18px;
    margin-bottom: 20px
}
.service-btn{
    font-size: 15px;
    padding: 7px 10px;
}
.service{
    background-image: url(./images/background.png), linear-gradient(45deg,  rgb(8,8,8), rgb(53,53,53));
    color: white;
}
.s-title{
    /* margin-top: 50px; */
    padding-top: 70px;
}
.footer-container{
    width: 75%;
    height: 60vh;
    display: flex;
    justify-content: space-around;
    color: white;
    padding: 30px;
    list-style: none;
    align-items: center;
    border-bottom: 2px solid white;
}
.footer-img{
    width: 200px;
}
.last-section{
    width: 100%; 
    height: 70vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.support{
    width: 18%;
}
.usefule-heading{
    margin-bottom: 25px;
    
}
.list{
    /* font-size: 16px; */
    padding: 8px;
    
}
.list a{
    text-decoration: none;
    color: white;
}
.list a:hover{
    text-decoration: underline;
}
.copyright-text{
    padding: 20px;
    text-align: center;
    color: white;

}
.footer-text{
    margin-top: 15px;
    /* padding-right: 40px; */
    /* margin-right: 50px; */
    text-align: justify;
    font-size: 16px;
}
footer{
    background-image: url(./images/27230.jpg), linear-gradient(180deg, rgb(21, 20, 20), rgb(61, 37, 37) );,
    border: none;
    background-size:cover;
    background-repeat: no-repeat;
}
